@import "~materialize-css/dist/css/materialize.min.css";

.auth-card {
    height: 100vh;
    margin-bottom: 0;
    color: #26a59a;
}
h1{
    text-align: center;
}
#pass, #e-mail{
    color: white;
}

