@import "~materialize-css/dist/css/materialize.min.css";

.auth-card {
    height: 100vh;
    margin-bottom: 0;
    color: #26a59a;
}
h1{
    text-align: center;
}
#pass, #e-mail, #link{
    color: white;
}
.create-link-wrapper{
    padding-top: 4rem;
}
.loader{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

